In [1]:
import pandas as pd
epidemiology = pd.read_csv("https://storage.googleapis.com/covid19-open-data/v3/epidemiology.csv")
demographics = pd.read_csv("https://storage.googleapis.com/covid19-open-data/v3/demographics.csv")
economy = pd.read_csv("https://storage.googleapis.com/covid19-open-data/v3/economy.csv")
emergency_declaration = pd.read_csv("https://storage.googleapis.com/covid19-open-data/v3/lawatlas-emergency-declarations.csv")
geography = pd.read_csv("https://storage.googleapis.com/covid19-open-data/v3/geography.csv")
health = pd.read_csv("https://storage.googleapis.com/covid19-open-data/v3/health.csv")
hospitalization = pd.read_csv("https://storage.googleapis.com/covid19-open-data/v3/hospitalizations.csv")
mobility = pd.read_csv("https://storage.googleapis.com/covid19-open-data/v3/mobility.csv")
search_trends = pd.read_csv("https://storage.googleapis.com/covid19-open-data/v3/google-search-trends.csv")
vaccination = pd.read_csv("https://storage.googleapis.com/covid19-open-data/v3/vaccinations.csv")
government_response = pd.read_csv("https://storage.googleapis.com/covid19-open-data/v3/oxford-government-response.csv")
world_bank = pd.read_csv("https://storage.googleapis.com/covid19-open-data/v3/worldbank.csv")
epi_by_age = pd.read_csv("https://storage.googleapis.com/covid19-open-data/v3/by-age.csv")
epi_by_sex = pd.read_csv("https://storage.googleapis.com/covid19-open-data/v3/by-sex.csv")
key = pd.read_csv("https://storage.googleapis.com/covid19-open-data/v3/index.csv")

/tmp/ipykernel_49396/1509223055.py:14: DtypeWarning: Columns (148,149,150,151) have mixed types. Specify dtype option on import or set low_memory=False.
  epi_by_age = pd.read_csv("https://storage.googleapis.com/covid19-open-data/v3/by-age.csv")

In [2]:
tables = [epidemiology, demographics, economy, emergency_declaration, geography, health, hospitalization, mobility, search_trends, vaccination,
        government_response, world_bank, epi_by_age, epi_by_sex, key]

In [3]:
def get_df_name(df):
    name =[x for x in globals() if globals()[x] is df][0]
    return name

for table in tables:
  print(get_df_name(table), table.shape)

epidemiology (12525825, 10)
demographics (21689, 19)
economy (404, 4)
emergency_declaration (8364, 104)
geography (22130, 8)
health (3504, 14)
hospitalization (1768485, 11)
mobility (6321226, 8)
search_trends (2713929, 424)
vaccination (2545118, 32)
government_response (303969, 22)
world_bank (215, 1405)
epi_by_age (3822577, 152)
epi_by_sex (3848340, 30)
key (22963, 15)

These datasets can be aggregated to make a table that is larger than 100,000 rows $\times$ 50 columns. These datasets have the common `location_key` and  `date`. The top 5 lines of each data sets in print out.

In [4]:
epidemiology.head()

,date,location_key,new_confirmed,new_deceased,new_recovered,new_tested,cumulative_confirmed,cumulative_deceased,cumulative_recovered,cumulative_tested
0,2020-01-01,AD,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN
1,2020-01-02,AD,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN
2,2020-01-03,AD,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN
3,2020-01-04,AD,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN
4,2020-01-05,AD,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN

In [5]:
demographics.head()

,location_key,population,population_male,population_female,population_rural,population_urban,population_largest_city,population_clustered,population_density,human_development_index,population_age_00_09,population_age_10_19,population_age_20_29,population_age_30_39,population_age_40_49,population_age_50_59,population_age_60_69,population_age_70_79,population_age_80_and_older
0,AD,77265.0,58625.0,55581.0,9269.0,67873.0,NaN,NaN,164.394,0.858,9370.0,12022.0,10727.0,12394.0,21001.0,20720.0,14433.0,8657.0,4881.0
1,AE,9890400.0,6836349.0,3054051.0,1290785.0,8479744.0,2833079.0,5914068.0,118.306,0.863,1011713.0,842991.0,2149343.0,3169314.0,1608109.0,797913.0,242707.0,55884.0,12426.0
2,AF,38928341.0,19976265.0,18952076.0,28244481.0,9797273.0,4114030.0,4114030.0,59.627,0.498,11088732.0,9821559.0,7035871.0,4534646.0,2963459.0,1840198.0,1057496.0,480455.0,105925.0
3,AF_BAL,1509183.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AF_BAM,495557.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
economy.head()

  location_key       gdp_usd  gdp_per_capita_usd  human_capital_index
0           AD  3.154058e+09             40886.0                  NaN
1           AE  4.211423e+11             43103.0                0.659
2           AF  1.910135e+10               502.0                0.389
3           AG  1.727759e+09             17790.0                  NaN
4           AL  1.527808e+10              5352.0                0.621

In [7]:
emergency_declaration.head()

,date,location_key,lawatlas_mitigation_policy,lawatlas_state_emergency,lawatlas_emerg_statewide,lawatlas_travel_requirement,lawatlas_traveler_type_all_people_entering_the_state,lawatlas_traveler_type_travelers_from_specified_states,lawatlas_traveler_type_travelers_from_specified_countries,lawatlas_traveler_type_general_international_travelers,...,lawatlas_action_preempt_imposing_additional_restrictions_on_public_spaces,lawatlas_action_preempt_restricting_scope_of_services_of_an_essential_business,lawatlas_action_preempt_expanding_the_definition_of_non-essential_business,lawatlas_action_preempt_restricting_the_hours_of_operation_of_an_essential_business,lawatlas_action_preempt_imposing_restrictions_that_conflict_with_state_order,lawatlas_action_preempt_restricting_the_performance_of_an_essential_function,lawatlas_action_preempt_restricting_people_from_leaving_home,lawatlas_action_preempt_restricting_the_operations_of_schools,lawatlas_action_preempt_imposing_gathering_bans,lawatlas_local_allow
0,2020-01-20,US_AK,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-01-21,US_AK,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-01-22,US_AK,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-01-23,US_AK,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-01-24,US_AK,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
geography.head()

,location_key,openstreetmap_id,latitude,longitude,elevation_m,area_sq_km,area_rural_sq_km,area_urban_sq_km
0,AD,9407.0,42.558333,1.555278,NaN,470.0,NaN,NaN
1,AE,307763.0,24.400000,54.300000,NaN,83600.0,70575.0,8568.0
2,AF,303427.0,33.000000,66.000000,NaN,652860.0,NaN,NaN
3,AF_BAL,1674795.0,36.700000,67.116667,340.0,16186.0,NaN,NaN
4,AF_BAM,NaN,34.750000,67.250000,3042.0,14175.0,NaN,NaN

In [9]:
health.head()

,location_key,life_expectancy,smoking_prevalence,diabetes_prevalence,infant_mortality_rate,adult_male_mortality_rate,adult_female_mortality_rate,pollution_mortality_rate,comorbidity_mortality_rate,hospital_beds_per_1000,nurses_per_1000,physicians_per_1000,health_expenditure_usd,out_of_pocket_health_expenditure_usd
0,AD,NaN,33.5,7.7,2.7,NaN,NaN,NaN,NaN,NaN,4.0128,3.3333,4040.786621,1688.121460
1,AE,77.814,28.9,16.3,6.5,69.555,44.863,54.7,16.8,NaN,5.7271,2.5278,1357.017456,256.034485
2,AF,64.486,NaN,9.2,47.9,237.554,192.532,211.1,29.8,0.5,0.1755,0.2782,67.122650,50.665913
3,AG,76.885,NaN,13.1,5.0,126.917,83.136,29.9,22.6,NaN,4.5171,2.9560,673.859680,235.749039
4,AL,78.900,28.7,9.0,7.8,93.315,49.486,68.0,17.0,NaN,3.6495,1.2164,NaN,NaN

In [10]:
hospitalization.head()

,date,location_key,new_hospitalized_patients,cumulative_hospitalized_patients,current_hospitalized_patients,new_intensive_care_patients,cumulative_intensive_care_patients,current_intensive_care_patients,new_ventilator_patients,cumulative_ventilator_patients,current_ventilator_patients
0,0022-01-10,AR,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,0022-01-20,AR,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,0202-03-30,AR,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,0221-07-06,AR,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1202-01-07,AR,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN

Note that the hospitalization table has a messed-up date. Since our target variable is daily new cases, it does not make sense to use hospitalization as a predictor anyways. Therefore, this table is not considered in our aggregated dataset.

In [11]:
mobility.head()

,date,location_key,mobility_retail_and_recreation,mobility_grocery_and_pharmacy,mobility_parks,mobility_transit_stations,mobility_workplaces,mobility_residential
0,2020-02-15,AE,0.0,4.0,5.0,0.0,2.0,1.0
1,2020-02-16,AE,1.0,4.0,4.0,1.0,2.0,1.0
2,2020-02-17,AE,-1.0,1.0,5.0,1.0,2.0,1.0
3,2020-02-18,AE,-2.0,1.0,5.0,0.0,2.0,1.0
4,2020-02-19,AE,-2.0,0.0,4.0,-1.0,2.0,1.0

In [12]:
search_trends.head()

,date,location_key,search_trends_abdominal_obesity,search_trends_abdominal_pain,search_trends_acne,search_trends_actinic_keratosis,search_trends_acute_bronchitis,search_trends_adrenal_crisis,search_trends_ageusia,search_trends_alcoholism,...,search_trends_visual_acuity,search_trends_vomiting,search_trends_wart,search_trends_water_retention,search_trends_weakness,search_trends_weight_gain,search_trends_wheeze,search_trends_xeroderma,search_trends_xerostomia,search_trends_yawn
0,2020-01-01,AU,3.56,5.38,10.76,0.52,0.35,0.12,0.05,5.36,...,0.70,4.23,1.87,0.39,0.47,4.47,0.30,3.52,0.43,0.21
1,2020-01-02,AU,3.46,5.35,11.30,0.55,0.36,0.14,0.06,4.62,...,0.44,3.97,1.97,0.41,0.47,4.60,0.27,3.48,0.45,0.19
2,2020-01-03,AU,3.40,5.35,11.23,0.53,0.34,0.12,0.05,4.63,...,0.29,3.90,1.85,0.40,0.65,4.46,0.30,3.58,0.39,0.18
3,2020-01-04,AU,3.43,5.23,10.68,0.42,0.35,0.11,0.05,4.82,...,0.28,3.88,1.78,0.38,0.54,4.43,0.30,3.59,0.40,0.21
4,2020-01-05,AU,3.29,5.14,10.20,0.49,0.38,0.11,NaN,4.26,...,0.38,3.73,1.75,0.34,0.46,4.59,0.34,3.09,0.40,0.19

In [13]:
vaccination.head()

,date,location_key,new_persons_vaccinated,cumulative_persons_vaccinated,new_persons_fully_vaccinated,cumulative_persons_fully_vaccinated,new_vaccine_doses_administered,cumulative_vaccine_doses_administered,new_persons_vaccinated_pfizer,cumulative_persons_vaccinated_pfizer,...,new_persons_fully_vaccinated_janssen,cumulative_persons_fully_vaccinated_janssen,new_vaccine_doses_administered_janssen,cumulative_vaccine_doses_administered_janssen,new_persons_vaccinated_sinovac,total_persons_vaccinated_sinovac,new_persons_fully_vaccinated_sinovac,total_persons_fully_vaccinated_sinovac,new_vaccine_doses_administered_sinovac,total_vaccine_doses_administered_sinovac
0,2021-01-25,AD,NaN,576.0,NaN,NaN,NaN,576.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-02-01,AD,460.0,1036.0,NaN,NaN,460.0,1036.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-02-10,AD,255.0,1291.0,NaN,NaN,255.0,1291.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-02-12,AD,331.0,1622.0,NaN,NaN,331.0,1622.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-02-19,AD,519.0,2141.0,NaN,NaN,519.0,2141.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
government_response.head()

,date,location_key,school_closing,workplace_closing,cancel_public_events,restrictions_on_gatherings,public_transport_closing,stay_at_home_requirements,restrictions_on_internal_movement,international_travel_controls,...,fiscal_measures,international_support,public_information_campaigns,testing_policy,contact_tracing,emergency_investment_in_healthcare,investment_in_vaccines,facial_coverings,vaccination_policy,stringency_index
0,2020-01-01,AD,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2020-01-02,AD,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2020-01-03,AD,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2020-01-04,AD,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2020-01-05,AD,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
world_bank.head()

,location_key,AG.AGR.TRAC.NO,AG.CON.FERT.PT.ZS,AG.CON.FERT.ZS,AG.LND.AGRI.K2,AG.LND.AGRI.ZS,AG.LND.ARBL.HA,AG.LND.ARBL.HA.PC,AG.LND.ARBL.ZS,AG.LND.CREL.HA,...,TX.VAL.TRAN.ZS.WT,TX.VAL.TRVL.ZS.WT,VC.BTL.DETH,VC.IDP.NWCV,VC.IDP.NWDS,VC.IDP.TOCV,VC.IHR.PSRC.FE.P5,VC.IHR.PSRC.MA.P5,VC.IHR.PSRC.P5,VC.PKP.TOTL.UN
0,AD,NaN,NaN,NaN,187.800007,39.957448,7.800000e+02,0.010091,1.659574,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
1,AE,NaN,3.378659,714.927237,3887.999878,5.474514,4.450000e+04,0.004754,0.626584,282.0,...,NaN,NaN,NaN,NaN,220.0,NaN,0.4,0.7,0.5,NaN
2,AF,NaN,590.067055,12.182300,379100.000000,58.067580,7.729000e+06,0.218437,11.838679,2418725.0,...,20.089394,14.556820,25682.0,461000.0,117000.0,2993000.0,NaN,NaN,7.1,14.0
3,AG,NaN,NaN,13.870000,90.000000,20.454545,4.000000e+03,0.042316,9.090909,48.0,...,12.080340,79.197620,NaN,NaN,1400.0,NaN,NaN,NaN,NaN,NaN
4,AL,NaN,NaN,126.138483,11816.999512,43.127735,6.203000e+05,0.215674,22.638686,145799.0,...,7.292991,62.336066,NaN,NaN,33000.0,NaN,0.8,3.8,2.3,NaN

In [16]:
epi_by_age.head()

,date,location_key,new_confirmed_age_0,new_confirmed_age_1,new_confirmed_age_2,new_confirmed_age_3,new_confirmed_age_4,new_confirmed_age_5,new_confirmed_age_6,new_confirmed_age_7,...,age_bin_0,age_bin_1,age_bin_2,age_bin_3,age_bin_4,age_bin_5,age_bin_6,age_bin_7,age_bin_8,age_bin_9
0,0022-01-10,AR,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,...,0-9,10-19,20-29,30-39,40-49,50-59,60-69,70-79,80-89,90-
1,0022-01-20,AR,0.0,NaN,0.0,NaN,0.0,0.0,NaN,0.0,...,0-9,10-19,20-29,30-39,40-49,50-59,60-69,70-79,80-89,90-
2,0202-03-30,AR,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,0-9,10-19,20-29,30-39,40-49,50-59,60-69,70-79,80-89,90-
3,0221-07-06,AR,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,0-9,10-19,20-29,30-39,40-49,50-59,60-69,70-79,80-89,90-
4,1202-01-07,AR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,0-9,10-19,20-29,30-39,40-49,50-59,60-69,70-79,80-89,90-

In [17]:
epi_by_sex.head()

,date,location_key,new_confirmed_male,new_confirmed_female,cumulative_confirmed_male,cumulative_confirmed_female,new_deceased_male,new_deceased_female,cumulative_deceased_male,cumulative_deceased_female,...,cumulative_hospitalized_patients_male,cumulative_hospitalized_patients_female,new_intensive_care_patients_male,new_intensive_care_patients_female,cumulative_intensive_care_patients_male,cumulative_intensive_care_patients_female,new_ventilator_patients_male,new_ventilator_patients_female,cumulative_ventilator_patients_male,cumulative_ventilator_patients_female
0,0022-01-10,AR,NaN,0.0,0.0,0.0,NaN,0.0,0.0,0.0,...,0.0,0.0,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN
1,0022-01-20,AR,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,0202-03-30,AR,NaN,1.0,0.0,1.0,NaN,0.0,0.0,0.0,...,0.0,0.0,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN
3,0221-07-06,AR,NaN,0.0,0.0,1.0,NaN,0.0,0.0,0.0,...,0.0,0.0,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN
4,1202-01-07,AR,NaN,1.0,0.0,2.0,NaN,0.0,0.0,0.0,...,0.0,0.0,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN

The epi_by_age and epi_by_sex tables also have messed-up dates. These two tables are also directed connected to the target variables anyways. These two tables are not considered.

In [18]:
key.head()

,location_key,place_id,wikidata_id,datacommons_id,country_code,country_name,subregion1_code,subregion1_name,subregion2_code,subregion2_name,locality_code,locality_name,iso_3166_1_alpha_2,iso_3166_1_alpha_3,aggregation_level
0,AD,ChIJlfCemC71pRIRkn_qeNc-yQc,Q228,country/AND,AD,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,AD,AND,0
1,AE,ChIJvRKrsd9IXj4RpwoIwFYv0zM,Q878,country/ARE,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,NaN,AE,ARE,0
2,AF,ChIJbQL_-LZu0TgReNqWvg1GtfM,Q889,country/AFG,AF,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,AF,AFG,0
3,AF_BAL,ChIJWZOescNSyzgRkmVJ8fmfR3k,Q121104,NaN,AF,Afghanistan,BAL,Balkh,NaN,NaN,NaN,NaN,AF,AFG,1
4,AF_BAM,ChIJw-bKQwDr0jgRQiw8jHsQ-HI,Q171382,NaN,AF,Afghanistan,BAM,Bamyan,NaN,NaN,NaN,NaN,AF,AFG,1

The location key table only has useful information regarding the country and the region.

In [19]:
useful_tables = [epidemiology, demographics, economy, emergency_declaration, geography, health, mobility, search_trends, vaccination,
        government_response, world_bank, key]

In [20]:
# a function to see how many columns in each table is missing >20% of the data
def find_20_miss(df):
    missing_by_cln = df.isna().sum()
    percent_missing_by_cln = missing_by_cln/(df.shape[0])
    return percent_missing_by_cln.loc[percent_missing_by_cln <= 0.2]

In [21]:
for table in useful_tables:
    print(find_20_miss(table))

date                    0.000000
location_key            0.000079
new_confirmed           0.003994
new_deceased            0.068553
cumulative_confirmed    0.015870
cumulative_deceased     0.083907
dtype: float64
location_key         0.000046
population           0.001383
population_male      0.188206
population_female    0.188206
dtype: float64
location_key          0.002475
gdp_usd               0.076733
gdp_per_capita_usd    0.096535
dtype: float64
date                          0.0
location_key                  0.0
lawatlas_mitigation_policy    0.0
dtype: float64
location_key    0.000045
latitude        0.001446
longitude       0.001446
area_sq_km      0.122775
dtype: float64
location_key       0.000285
life_expectancy    0.001427
dtype: float64
date                   0.000000
location_key           0.000149
mobility_workplaces    0.019414
dtype: float64
date                       0.000000
location_key               0.000000
search_trends_infection    0.058982
search_trends_pain         0.002198
dtype: float64
date                                   0.000000
location_key                           0.000062
new_persons_fully_vaccinated           0.007721
cumulative_persons_fully_vaccinated    0.007331
dtype: float64
date                                 0.000000
location_key                         0.003013
school_closing                       0.005112
workplace_closing                    0.005678
cancel_public_events                 0.006254
restrictions_on_gatherings           0.006540
public_transport_closing             0.006988
stay_at_home_requirements            0.006234
restrictions_on_internal_movement    0.006366
international_travel_controls        0.012264
income_support                       0.055946
debt_relief                          0.056305
public_information_campaigns         0.006474
testing_policy                       0.011817
contact_tracing                      0.019045
facial_coverings                     0.007734
vaccination_policy                   0.008971
stringency_index                     0.007836
dtype: float64
location_key         0.004651
AG.LND.AGRI.K2       0.027907
AG.LND.AGRI.ZS       0.037209
AG.LND.ARBL.HA       0.041860
AG.LND.ARBL.HA.PC    0.051163
                       ...
TX.VAL.OTHR.ZS.WT    0.134884
TX.VAL.SERV.CD.WT    0.130233
TX.VAL.TRAN.ZS.WT    0.144186
TX.VAL.TRVL.ZS.WT    0.144186
VC.IDP.NWDS          0.139535
Length: 556, dtype: float64
location_key          0.000044
place_id              0.056700
wikidata_id           0.033924
country_code          0.000044
country_name          0.000000
subregion1_code       0.010800
subregion1_name       0.010756
subregion2_code       0.074468
subregion2_name       0.074468
iso_3166_1_alpha_2    0.000087
iso_3166_1_alpha_3    0.000044
aggregation_level     0.000000
dtype: float64

Excluding World Bank table, other tables will make a aggregate table with ~40 columns. The World Bank table has about ~556 columns left. I decide to be more stringent with the World Bank data as I am only allow 10% missing.

In [22]:
# a function to see how many columns in each table is missing >10% of the data
def find_10_miss(df):
    missing_by_cln = df.isna().sum()
    percent_missing_by_cln = missing_by_cln/(df.shape[0])
    return percent_missing_by_cln.loc[percent_missing_by_cln <= 0.1]

In [23]:
print(find_10_miss(world_bank))

location_key         0.004651
AG.LND.AGRI.K2       0.027907
AG.LND.AGRI.ZS       0.037209
AG.LND.ARBL.HA       0.041860
AG.LND.ARBL.HA.PC    0.051163
                       ...
TX.VAL.MRCH.R5.ZS    0.051163
TX.VAL.MRCH.R6.ZS    0.055814
TX.VAL.MRCH.RS.ZS    0.051163
TX.VAL.MRCH.WL.CD    0.051163
TX.VAL.MRCH.XD.WD    0.060465
Length: 149, dtype: float64

In [24]:
list(find_20_miss(epidemiology).index)

['date',
 'location_key',
 'new_confirmed',
 'new_deceased',
 'cumulative_confirmed',
 'cumulative_deceased']

In [25]:
# select the columns with <20% missing
def select_20_miss(df):
    selected_cln = list(find_20_miss(df).index)
    return df[selected_cln]

In [26]:
selected_epidemiology = select_20_miss(epidemiology)
selected_demographics = select_20_miss(demographics)
selected_economy = select_20_miss(economy)
selected_emergency_declaration = select_20_miss(emergency_declaration)
selected_geography = select_20_miss(geography)
selected_health = select_20_miss(health)
selected_mobility = select_20_miss(mobility)
selected_search_trends = select_20_miss(search_trends)
selected_vaccination = select_20_miss(vaccination)
selected_government_response = select_20_miss(government_response)
selected_key = select_20_miss(key)

In [27]:
# for world bank, a 10% missing is allowed
def select_10_miss(df):
    selected_cln = list(find_10_miss(df).index)
    return df[selected_cln]
selected_world_bank = select_10_miss(world_bank)

In [28]:
# concat tables together
agg_table1 = selected_epidemiology.merge(selected_emergency_declaration, on = ['date','location_key'], how = 'left')

In [29]:
agg_table2 = agg_table1.merge(selected_demographics, on = ['location_key'], how = 'left')

In [30]:
agg_table3 = agg_table2.merge(selected_geography, on = ['location_key'], how = 'left')

In [31]:
agg_table4 = agg_table3.merge(selected_health, on = ['location_key'], how = 'left')

In [32]:
agg_table5 = agg_table4.merge(selected_mobility, on = ['location_key', 'date'], how = 'left')

In [33]:
agg_table6 = agg_table5.merge(selected_search_trends, on = ['location_key', 'date'], how = 'left')

In [34]:
agg_table7 = agg_table6.merge(selected_government_response, on = ['location_key', 'date'], how = 'left')

In [35]:
agg_table8 = agg_table7.merge(selected_key, on = ['location_key'], how = 'left')

In [36]:
agg_table9 = agg_table8.merge(selected_vaccination, on = ['location_key', 'date'], how = 'left')

In [37]:
agg_table10 = agg_table9.merge(selected_economy, left_on = ['country_code'], right_on = 'location_key', how = 'left')

In [38]:
agg_table11 = agg_table10.merge(selected_world_bank, left_on = ['country_code'], right_on = 'location_key', how = 'left')

In [39]:
agg_table11

,date,location_key_x,new_confirmed,new_deceased,cumulative_confirmed,cumulative_deceased,lawatlas_mitigation_policy,population,population_male,population_female,...,TX.VAL.MRCH.OR.ZS,TX.VAL.MRCH.R1.ZS,TX.VAL.MRCH.R2.ZS,TX.VAL.MRCH.R3.ZS,TX.VAL.MRCH.R4.ZS,TX.VAL.MRCH.R5.ZS,TX.VAL.MRCH.R6.ZS,TX.VAL.MRCH.RS.ZS,TX.VAL.MRCH.WL.CD,TX.VAL.MRCH.XD.WD
0,2020-01-01,AD,0.0,0.0,0.0,0.0,NaN,77265.0,58625.0,55581.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,268.350431
1,2020-01-02,AD,0.0,0.0,0.0,0.0,NaN,77265.0,58625.0,55581.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,268.350431
2,2020-01-03,AD,0.0,0.0,0.0,0.0,NaN,77265.0,58625.0,55581.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,268.350431
3,2020-01-04,AD,0.0,0.0,0.0,0.0,NaN,77265.0,58625.0,55581.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,268.350431
4,2020-01-05,AD,0.0,0.0,0.0,0.0,NaN,77265.0,58625.0,55581.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,268.350431
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12525820,2022-09-09,ZW,11.0,0.0,256870.0,5596.0,NaN,14862927.0,7092010.0,7770917.0,...,1.163098,1.083576,0.023924,0.004225,0.04901,0.002363,75.71748,0.001449,3.443830e+09,227.917005
12525821,2022-09-10,ZW,18.0,0.0,256888.0,5596.0,NaN,14862927.0,7092010.0,7770917.0,...,1.163098,1.083576,0.023924,0.004225,0.04901,0.002363,75.71748,0.001449,3.443830e+09,227.917005
12525822,2022-09-11,ZW,0.0,0.0,256888.0,5596.0,NaN,14862927.0,7092010.0,7770917.0,...,1.163098,1.083576,0.023924,0.004225,0.04901,0.002363,75.71748,0.001449,3.443830e+09,227.917005
12525823,2022-09-12,ZW,51.0,0.0,256939.0,5596.0,NaN,14862927.0,7092010.0,7770917.0,...,1.163098,1.083576,0.023924,0.004225,0.04901,0.002363,75.71748,0.001449,3.443830e+09,227.917005
12525824,2022-09-13,ZW,0.0,0.0,256939.0,5596.0,NaN,14862927.0,7092010.0,7770917.0,...,1.163098,1.083576,0.023924,0.004225,0.04901,0.002363,75.71748,0.001449,3.443830e+09,227.917005

In [42]:
US = agg_table11.loc[agg_table11.country_code == 'US']

In [43]:
US.shape

(2551031, 198)

So even doing this within the United States still give more than 2.5 million rows.

In [44]:
US.location_key_x.unique()

array(['US', 'US_AK', 'US_AK_02013', ..., 'US_WY_56041', 'US_WY_56043',
       'US_WY_56045'], dtype=object)

The zip code makes things really annoying... We will only focus on the state-data.

In [45]:
US_by_state = US.loc[US.location_key_x.str.len() ==5]

In [46]:
print(US_by_state.location_key_x.unique())
print(US_by_state.location_key_x.nunique())

['US_AK' 'US_AL' 'US_AR' 'US_AS' 'US_AZ' 'US_CA' 'US_CO' 'US_CT' 'US_DC'
 'US_DE' 'US_FL' 'US_GA' 'US_GU' 'US_HI' 'US_IA' 'US_ID' 'US_IL' 'US_IN'
 'US_KS' 'US_KY' 'US_LA' 'US_MA' 'US_MD' 'US_ME' 'US_MI' 'US_MN' 'US_MO'
 'US_MP' 'US_MS' 'US_MT' 'US_NC' 'US_ND' 'US_NE' 'US_NH' 'US_NJ' 'US_NM'
 'US_NV' 'US_NY' 'US_OH' 'US_OK' 'US_OR' 'US_PA' 'US_PR' 'US_RI' 'US_SC'
 'US_SD' 'US_TN' 'US_TX' 'US_UT' 'US_VA' 'US_VI' 'US_VT' 'US_WA' 'US_WI'
 'US_WV' 'US_WY']
56

In [47]:
US_by_state.shape

(54218, 198)

In [48]:
US_by_state

,date,location_key_x,new_confirmed,new_deceased,cumulative_confirmed,cumulative_deceased,lawatlas_mitigation_policy,population,population_male,population_female,...,TX.VAL.MRCH.OR.ZS,TX.VAL.MRCH.R1.ZS,TX.VAL.MRCH.R2.ZS,TX.VAL.MRCH.R3.ZS,TX.VAL.MRCH.R4.ZS,TX.VAL.MRCH.R5.ZS,TX.VAL.MRCH.R6.ZS,TX.VAL.MRCH.RS.ZS,TX.VAL.MRCH.WL.CD,TX.VAL.MRCH.XD.WD
9896188,2020-01-22,US_AK,0.0,0.0,0.0,0.0,0.0,733391.0,424916.0,391925.0,...,39.701735,10.447935,1.398441,23.603533,0.908951,2.398344,0.944532,0.138105,1.664240e+12,213.064797
9896189,2020-01-23,US_AK,0.0,0.0,0.0,0.0,0.0,733391.0,424916.0,391925.0,...,39.701735,10.447935,1.398441,23.603533,0.908951,2.398344,0.944532,0.138105,1.664240e+12,213.064797
9896190,2020-01-24,US_AK,0.0,0.0,0.0,0.0,0.0,733391.0,424916.0,391925.0,...,39.701735,10.447935,1.398441,23.603533,0.908951,2.398344,0.944532,0.138105,1.664240e+12,213.064797
9896191,2020-01-25,US_AK,0.0,0.0,0.0,0.0,0.0,733391.0,424916.0,391925.0,...,39.701735,10.447935,1.398441,23.603533,0.908951,2.398344,0.944532,0.138105,1.664240e+12,213.064797
9896192,2020-01-26,US_AK,0.0,0.0,0.0,0.0,0.0,733391.0,424916.0,391925.0,...,39.701735,10.447935,1.398441,23.603533,0.908951,2.398344,0.944532,0.138105,1.664240e+12,213.064797
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12428415,2022-09-11,US_WY,0.0,0.0,175290.0,1884.0,NaN,576851.0,330729.0,317830.0,...,39.701735,10.447935,1.398441,23.603533,0.908951,2.398344,0.944532,0.138105,1.664240e+12,213.064797
12428416,2022-09-12,US_WY,0.0,0.0,175290.0,1884.0,NaN,576851.0,330729.0,317830.0,...,39.701735,10.447935,1.398441,23.603533,0.908951,2.398344,0.944532,0.138105,1.664240e+12,213.064797
12428417,2022-09-13,US_WY,456.0,4.0,175746.0,1888.0,NaN,576851.0,330729.0,317830.0,...,39.701735,10.447935,1.398441,23.603533,0.908951,2.398344,0.944532,0.138105,1.664240e+12,213.064797
12428418,2022-09-14,US_WY,0.0,0.0,175746.0,1888.0,NaN,576851.0,330729.0,317830.0,...,39.701735,10.447935,1.398441,23.603533,0.908951,2.398344,0.944532,0.138105,1.664240e+12,213.064797
12428419,2022-09-15,US_WY,0.0,0.0,175746.0,1888.0,NaN,576851.0,330729.0,317830.0,...,39.701735,10.447935,1.398441,23.603533,0.908951,2.398344,0.944532,0.138105,1.664240e+12,213.064797

In [49]:
US_by_state.to_csv('US_covid_data_by_state.csv')

Now find the other nine countries with in the top 10 GDP per capita. They are
Luxembourg, Ireland, Norway, Switzerland, Singapore, Qatar, Iceland, Denmark, and Australia.

In [62]:
luxembourg = agg_table11.loc[agg_table11.country_name == 'Luxembourg', :]
luxembourg.head()

,date,location_key_x,new_confirmed,new_deceased,cumulative_confirmed,cumulative_deceased,lawatlas_mitigation_policy,population,population_male,population_female,...,TX.VAL.MRCH.OR.ZS,TX.VAL.MRCH.R1.ZS,TX.VAL.MRCH.R2.ZS,TX.VAL.MRCH.R3.ZS,TX.VAL.MRCH.R4.ZS,TX.VAL.MRCH.R5.ZS,TX.VAL.MRCH.R6.ZS,TX.VAL.MRCH.RS.ZS,TX.VAL.MRCH.WL.CD,TX.VAL.MRCH.XD.WD
8533634,2020-01-01,LU,0.0,0.0,0.0,0.0,NaN,613894.0,308720.0,305174.0,...,8.304026,2.157149,3.227334,1.104467,0.447748,0.362564,1.004764,0.568949,1.634218e+10,194.946974
8533635,2020-01-02,LU,0.0,0.0,0.0,0.0,NaN,613894.0,308720.0,305174.0,...,8.304026,2.157149,3.227334,1.104467,0.447748,0.362564,1.004764,0.568949,1.634218e+10,194.946974
8533636,2020-01-03,LU,0.0,0.0,0.0,0.0,NaN,613894.0,308720.0,305174.0,...,8.304026,2.157149,3.227334,1.104467,0.447748,0.362564,1.004764,0.568949,1.634218e+10,194.946974
8533637,2020-01-04,LU,0.0,0.0,0.0,0.0,NaN,613894.0,308720.0,305174.0,...,8.304026,2.157149,3.227334,1.104467,0.447748,0.362564,1.004764,0.568949,1.634218e+10,194.946974
8533638,2020-01-05,LU,0.0,0.0,0.0,0.0,NaN,613894.0,308720.0,305174.0,...,8.304026,2.157149,3.227334,1.104467,0.447748,0.362564,1.004764,0.568949,1.634218e+10,194.946974

In [68]:
luxembourg.location_key_x.unique()

array(['LU'], dtype=object)

In [66]:
ireland = agg_table11.loc[agg_table11.country_name == 'Ireland', :]
ireland.head()

,date,location_key_x,new_confirmed,new_deceased,cumulative_confirmed,cumulative_deceased,lawatlas_mitigation_policy,population,population_male,population_female,...,TX.VAL.MRCH.OR.ZS,TX.VAL.MRCH.R1.ZS,TX.VAL.MRCH.R2.ZS,TX.VAL.MRCH.R3.ZS,TX.VAL.MRCH.R4.ZS,TX.VAL.MRCH.R5.ZS,TX.VAL.MRCH.R6.ZS,TX.VAL.MRCH.RS.ZS,TX.VAL.MRCH.WL.CD,TX.VAL.MRCH.XD.WD
7493931,2020-01-01,IE,0.0,0.0,0.0,0.0,NaN,4904240.0,2428881.0,2475359.0,...,8.076044,3.739198,1.254414,1.554092,0.560458,0.289459,0.678424,2.367003,1.650170e+11,213.501945
7493932,2020-01-02,IE,0.0,0.0,0.0,0.0,NaN,4904240.0,2428881.0,2475359.0,...,8.076044,3.739198,1.254414,1.554092,0.560458,0.289459,0.678424,2.367003,1.650170e+11,213.501945
7493933,2020-01-03,IE,0.0,0.0,0.0,0.0,NaN,4904240.0,2428881.0,2475359.0,...,8.076044,3.739198,1.254414,1.554092,0.560458,0.289459,0.678424,2.367003,1.650170e+11,213.501945
7493934,2020-01-04,IE,0.0,0.0,0.0,0.0,NaN,4904240.0,2428881.0,2475359.0,...,8.076044,3.739198,1.254414,1.554092,0.560458,0.289459,0.678424,2.367003,1.650170e+11,213.501945
7493935,2020-01-05,IE,0.0,0.0,0.0,0.0,NaN,4904240.0,2428881.0,2475359.0,...,8.076044,3.739198,1.254414,1.554092,0.560458,0.289459,0.678424,2.367003,1.650170e+11,213.501945

In [69]:
ireland.location_key_x.unique()

array(['IE'], dtype=object)

In [100]:
norway = agg_table11.loc[agg_table11.country_name == 'Norway', :]
norway # oops different location_key

,date,location_key_x,new_confirmed,new_deceased,cumulative_confirmed,cumulative_deceased,lawatlas_mitigation_policy,population,population_male,population_female,...,TX.VAL.MRCH.OR.ZS,TX.VAL.MRCH.R1.ZS,TX.VAL.MRCH.R2.ZS,TX.VAL.MRCH.R3.ZS,TX.VAL.MRCH.R4.ZS,TX.VAL.MRCH.R5.ZS,TX.VAL.MRCH.R6.ZS,TX.VAL.MRCH.RS.ZS,TX.VAL.MRCH.WL.CD,TX.VAL.MRCH.XD.WD
9039472,2020-01-01,NO,0.0,0.0,0.0,0.0,NaN,5328212.0,2685073.0,2643139.0,...,7.345421,2.838614,1.449561,0.708596,0.610879,0.341795,1.395977,0.040163,1.220520e+11,202.789804
9039473,2020-01-02,NO,0.0,0.0,0.0,0.0,NaN,5328212.0,2685073.0,2643139.0,...,7.345421,2.838614,1.449561,0.708596,0.610879,0.341795,1.395977,0.040163,1.220520e+11,202.789804
9039474,2020-01-03,NO,0.0,0.0,0.0,0.0,NaN,5328212.0,2685073.0,2643139.0,...,7.345421,2.838614,1.449561,0.708596,0.610879,0.341795,1.395977,0.040163,1.220520e+11,202.789804
9039475,2020-01-04,NO,0.0,0.0,0.0,0.0,NaN,5328212.0,2685073.0,2643139.0,...,7.345421,2.838614,1.449561,0.708596,0.610879,0.341795,1.395977,0.040163,1.220520e+11,202.789804
9039476,2020-01-05,NO,0.0,0.0,0.0,0.0,NaN,5328212.0,2685073.0,2643139.0,...,7.345421,2.838614,1.449561,0.708596,0.610879,0.341795,1.395977,0.040163,1.220520e+11,202.789804
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9050299,2022-09-11,NO_54,0.0,NaN,49260.0,NaN,NaN,486450.0,247681.0,238769.0,...,7.345421,2.838614,1.449561,0.708596,0.610879,0.341795,1.395977,0.040163,1.220520e+11,202.789804
9050300,2022-09-12,NO_54,9.0,NaN,49269.0,NaN,NaN,486450.0,247681.0,238769.0,...,7.345421,2.838614,1.449561,0.708596,0.610879,0.341795,1.395977,0.040163,1.220520e+11,202.789804
9050301,2022-09-13,NO_54,5.0,NaN,49274.0,NaN,NaN,486450.0,247681.0,238769.0,...,7.345421,2.838614,1.449561,0.708596,0.610879,0.341795,1.395977,0.040163,1.220520e+11,202.789804
9050302,2022-09-14,NO_54,4.0,NaN,49278.0,NaN,NaN,486450.0,247681.0,238769.0,...,7.345421,2.838614,1.449561,0.708596,0.610879,0.341795,1.395977,0.040163,1.220520e+11,202.789804
9050303,2022-09-15,NO_54,1.0,NaN,49279.0,NaN,NaN,486450.0,247681.0,238769.0,...,7.345421,2.838614,1.449561,0.708596,0.610879,0.341795,1.395977,0.040163,1.220520e+11,202.789804

In [99]:
norway.location_key_x.unique()

array(['NO', 'NO_03', 'NO_11', 'NO_15', 'NO_18', 'NO_30', 'NO_34',
       'NO_38', 'NO_42', 'NO_46', 'NO_50', 'NO_54'], dtype=object)

In [88]:
norway.loc[norway.location_key_x == 'NO_50','population']

9048514    462032.0
9048515    462032.0
9048516    462032.0
9048517    462032.0
9048518    462032.0
             ...
9049404    462032.0
9049405    462032.0
9049406    462032.0
9049407    462032.0
9049408    462032.0
Name: population, Length: 895, dtype: float64

In [103]:
norway_by_region = norway.loc[norway.location_key_x.str.len() ==5]
norway_by_region

,date,location_key_x,new_confirmed,new_deceased,cumulative_confirmed,cumulative_deceased,lawatlas_mitigation_policy,population,population_male,population_female,...,TX.VAL.MRCH.OR.ZS,TX.VAL.MRCH.R1.ZS,TX.VAL.MRCH.R2.ZS,TX.VAL.MRCH.R3.ZS,TX.VAL.MRCH.R4.ZS,TX.VAL.MRCH.R5.ZS,TX.VAL.MRCH.R6.ZS,TX.VAL.MRCH.RS.ZS,TX.VAL.MRCH.WL.CD,TX.VAL.MRCH.XD.WD
9040459,2020-03-20,NO_03,NaN,NaN,419.0,NaN,NaN,1305122.0,652640.0,652482.0,...,7.345421,2.838614,1.449561,0.708596,0.610879,0.341795,1.395977,0.040163,1.220520e+11,202.789804
9040460,2020-03-21,NO_03,29.0,NaN,448.0,NaN,NaN,1305122.0,652640.0,652482.0,...,7.345421,2.838614,1.449561,0.708596,0.610879,0.341795,1.395977,0.040163,1.220520e+11,202.789804
9040461,2020-03-22,NO_03,75.0,NaN,523.0,NaN,NaN,1305122.0,652640.0,652482.0,...,7.345421,2.838614,1.449561,0.708596,0.610879,0.341795,1.395977,0.040163,1.220520e+11,202.789804
9040462,2020-03-23,NO_03,0.0,NaN,523.0,NaN,NaN,1305122.0,652640.0,652482.0,...,7.345421,2.838614,1.449561,0.708596,0.610879,0.341795,1.395977,0.040163,1.220520e+11,202.789804
9040463,2020-03-24,NO_03,134.0,NaN,657.0,NaN,NaN,1305122.0,652640.0,652482.0,...,7.345421,2.838614,1.449561,0.708596,0.610879,0.341795,1.395977,0.040163,1.220520e+11,202.789804
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9050299,2022-09-11,NO_54,0.0,NaN,49260.0,NaN,NaN,486450.0,247681.0,238769.0,...,7.345421,2.838614,1.449561,0.708596,0.610879,0.341795,1.395977,0.040163,1.220520e+11,202.789804
9050300,2022-09-12,NO_54,9.0,NaN,49269.0,NaN,NaN,486450.0,247681.0,238769.0,...,7.345421,2.838614,1.449561,0.708596,0.610879,0.341795,1.395977,0.040163,1.220520e+11,202.789804
9050301,2022-09-13,NO_54,5.0,NaN,49274.0,NaN,NaN,486450.0,247681.0,238769.0,...,7.345421,2.838614,1.449561,0.708596,0.610879,0.341795,1.395977,0.040163,1.220520e+11,202.789804
9050302,2022-09-14,NO_54,4.0,NaN,49278.0,NaN,NaN,486450.0,247681.0,238769.0,...,7.345421,2.838614,1.449561,0.708596,0.610879,0.341795,1.395977,0.040163,1.220520e+11,202.789804
9050303,2022-09-15,NO_54,1.0,NaN,49279.0,NaN,NaN,486450.0,247681.0,238769.0,...,7.345421,2.838614,1.449561,0.708596,0.610879,0.341795,1.395977,0.040163,1.220520e+11,202.789804

In [75]:
switzerland = agg_table11.loc[agg_table11.country_name == 'Switzerland', :]
switzerland.location_key_x.unique()

array(['CH', 'CH_AG', 'CH_AI', 'CH_AR', 'CH_BE', 'CH_BL', 'CH_BS',
       'CH_FR', 'CH_GE', 'CH_GL', 'CH_GR', 'CH_JU', 'CH_LU', 'CH_NE',
       'CH_NW', 'CH_OW', 'CH_SG', 'CH_SH', 'CH_SO', 'CH_SZ', 'CH_TG',
       'CH_TI', 'CH_UR', 'CH_VD', 'CH_VS', 'CH_ZG', 'CH_ZH'], dtype=object)

In [89]:
switzerland_by_region = switzerland.loc[switzerland.location_key_x.str.len() ==5]
switzerland_by_region

,date,location_key_x,new_confirmed,new_deceased,cumulative_confirmed,cumulative_deceased,lawatlas_mitigation_policy,population,population_male,population_female,...,TX.VAL.MRCH.OR.ZS,TX.VAL.MRCH.R1.ZS,TX.VAL.MRCH.R2.ZS,TX.VAL.MRCH.R3.ZS,TX.VAL.MRCH.R4.ZS,TX.VAL.MRCH.R5.ZS,TX.VAL.MRCH.R6.ZS,TX.VAL.MRCH.RS.ZS,TX.VAL.MRCH.WL.CD,TX.VAL.MRCH.XD.WD
5762783,2020-02-24,CH_AG,0.0,0.0,0.0,0.0,NaN,678207.0,340776.0,337431.0,...,24.84053,12.346671,2.699199,2.025211,1.248396,6.010995,0.510057,0.015397,3.098620e+11,376.274336
5762784,2020-02-25,CH_AG,1.0,0.0,1.0,0.0,NaN,678207.0,340776.0,337431.0,...,24.84053,12.346671,2.699199,2.025211,1.248396,6.010995,0.510057,0.015397,3.098620e+11,376.274336
5762785,2020-02-26,CH_AG,0.0,0.0,1.0,0.0,NaN,678207.0,340776.0,337431.0,...,24.84053,12.346671,2.699199,2.025211,1.248396,6.010995,0.510057,0.015397,3.098620e+11,376.274336
5762786,2020-02-27,CH_AG,0.0,0.0,1.0,0.0,NaN,678207.0,340776.0,337431.0,...,24.84053,12.346671,2.699199,2.025211,1.248396,6.010995,0.510057,0.015397,3.098620e+11,376.274336
5762787,2020-02-28,CH_AG,0.0,0.0,1.0,0.0,NaN,678207.0,340776.0,337431.0,...,24.84053,12.346671,2.699199,2.025211,1.248396,6.010995,0.510057,0.015397,3.098620e+11,376.274336
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5787073,2022-09-10,CH_ZH,265.0,0.0,721911.0,1840.0,NaN,1520968.0,757081.0,763887.0,...,24.84053,12.346671,2.699199,2.025211,1.248396,6.010995,0.510057,0.015397,3.098620e+11,376.274336
5787074,2022-09-11,CH_ZH,187.0,0.0,722098.0,1840.0,NaN,1520968.0,757081.0,763887.0,...,24.84053,12.346671,2.699199,2.025211,1.248396,6.010995,0.510057,0.015397,3.098620e+11,376.274336
5787075,2022-09-12,CH_ZH,299.0,0.0,722397.0,1840.0,NaN,1520968.0,757081.0,763887.0,...,24.84053,12.346671,2.699199,2.025211,1.248396,6.010995,0.510057,0.015397,3.098620e+11,376.274336
5787076,2022-09-13,CH_ZH,0.0,0.0,722397.0,1840.0,NaN,1520968.0,757081.0,763887.0,...,24.84053,12.346671,2.699199,2.025211,1.248396,6.010995,0.510057,0.015397,3.098620e+11,376.274336
5787077,2022-09-14,CH_ZH,463.0,0.0,727301.0,1857.0,NaN,1520968.0,757081.0,763887.0,...,24.84053,12.346671,2.699199,2.025211,1.248396,6.010995,0.510057,0.015397,3.098620e+11,376.274336

In [92]:
singapore = agg_table11.loc[agg_table11.country_name == 'Singapore', :]
singapore.head()

,date,location_key_x,new_confirmed,new_deceased,cumulative_confirmed,cumulative_deceased,lawatlas_mitigation_policy,population,population_male,population_female,...,TX.VAL.MRCH.OR.ZS,TX.VAL.MRCH.R1.ZS,TX.VAL.MRCH.R2.ZS,TX.VAL.MRCH.R3.ZS,TX.VAL.MRCH.R4.ZS,TX.VAL.MRCH.R5.ZS,TX.VAL.MRCH.R6.ZS,TX.VAL.MRCH.RS.ZS,TX.VAL.MRCH.WL.CD,TX.VAL.MRCH.XD.WD
9760180,2020-01-01,SG,0.0,0.0,0.0,0.0,NaN,5850343.0,3062257.0,2788086.0,...,49.952639,42.79017,0.334108,0.694933,0.278299,4.580456,1.274673,0.045508,4.129660e+11,299.667242
9760181,2020-01-02,SG,0.0,0.0,0.0,0.0,NaN,5850343.0,3062257.0,2788086.0,...,49.952639,42.79017,0.334108,0.694933,0.278299,4.580456,1.274673,0.045508,4.129660e+11,299.667242
9760182,2020-01-03,SG,0.0,0.0,0.0,0.0,NaN,5850343.0,3062257.0,2788086.0,...,49.952639,42.79017,0.334108,0.694933,0.278299,4.580456,1.274673,0.045508,4.129660e+11,299.667242
9760183,2020-01-04,SG,0.0,0.0,0.0,0.0,NaN,5850343.0,3062257.0,2788086.0,...,49.952639,42.79017,0.334108,0.694933,0.278299,4.580456,1.274673,0.045508,4.129660e+11,299.667242
9760184,2020-01-05,SG,0.0,0.0,0.0,0.0,NaN,5850343.0,3062257.0,2788086.0,...,49.952639,42.79017,0.334108,0.694933,0.278299,4.580456,1.274673,0.045508,4.129660e+11,299.667242

In [63]:
qatar = agg_table11.loc[agg_table11.country_name == 'Qatar', :]
qatar.head()

,date,location_key_x,new_confirmed,new_deceased,cumulative_confirmed,cumulative_deceased,lawatlas_mitigation_policy,population,population_male,population_female,...,TX.VAL.MRCH.OR.ZS,TX.VAL.MRCH.R1.ZS,TX.VAL.MRCH.R2.ZS,TX.VAL.MRCH.R3.ZS,TX.VAL.MRCH.R4.ZS,TX.VAL.MRCH.R5.ZS,TX.VAL.MRCH.R6.ZS,TX.VAL.MRCH.RS.ZS,TX.VAL.MRCH.WL.CD,TX.VAL.MRCH.XD.WD
9637954,2020-01-01,QA,0.0,0.0,0.0,0.0,NaN,2881060.0,2165135.0,715925.0,...,37.49677,17.551507,1.32248,0.800415,1.134838,15.78466,0.902871,1.020479,8.428850e+10,727.000683
9637955,2020-01-02,QA,0.0,0.0,0.0,0.0,NaN,2881060.0,2165135.0,715925.0,...,37.49677,17.551507,1.32248,0.800415,1.134838,15.78466,0.902871,1.020479,8.428850e+10,727.000683
9637956,2020-01-03,QA,0.0,0.0,0.0,0.0,NaN,2881060.0,2165135.0,715925.0,...,37.49677,17.551507,1.32248,0.800415,1.134838,15.78466,0.902871,1.020479,8.428850e+10,727.000683
9637957,2020-01-04,QA,0.0,0.0,0.0,0.0,NaN,2881060.0,2165135.0,715925.0,...,37.49677,17.551507,1.32248,0.800415,1.134838,15.78466,0.902871,1.020479,8.428850e+10,727.000683
9637958,2020-01-05,QA,0.0,0.0,0.0,0.0,NaN,2881060.0,2165135.0,715925.0,...,37.49677,17.551507,1.32248,0.800415,1.134838,15.78466,0.902871,1.020479,8.428850e+10,727.000683

In [95]:
iceland = agg_table11.loc[agg_table11.country_name == 'Iceland', :]
iceland.head()

,date,location_key_x,new_confirmed,new_deceased,cumulative_confirmed,cumulative_deceased,lawatlas_mitigation_policy,population,population_male,population_female,...,TX.VAL.MRCH.OR.ZS,TX.VAL.MRCH.R1.ZS,TX.VAL.MRCH.R2.ZS,TX.VAL.MRCH.R3.ZS,TX.VAL.MRCH.R4.ZS,TX.VAL.MRCH.R5.ZS,TX.VAL.MRCH.R6.ZS,TX.VAL.MRCH.RS.ZS,TX.VAL.MRCH.WL.CD,TX.VAL.MRCH.XD.WD
8338998,2020-01-01,IS,0.0,0.0,0.0,0.0,NaN,356991.0,182837.0,174154.0,...,8.292692,3.272256,2.823722,0.342862,0.241513,0.160196,1.452143,0.016188,5.306998e+09,292.2901
8338999,2020-01-02,IS,0.0,0.0,0.0,0.0,NaN,356991.0,182837.0,174154.0,...,8.292692,3.272256,2.823722,0.342862,0.241513,0.160196,1.452143,0.016188,5.306998e+09,292.2901
8339000,2020-01-03,IS,0.0,0.0,0.0,0.0,NaN,356991.0,182837.0,174154.0,...,8.292692,3.272256,2.823722,0.342862,0.241513,0.160196,1.452143,0.016188,5.306998e+09,292.2901
8339001,2020-01-04,IS,0.0,0.0,0.0,0.0,NaN,356991.0,182837.0,174154.0,...,8.292692,3.272256,2.823722,0.342862,0.241513,0.160196,1.452143,0.016188,5.306998e+09,292.2901
8339002,2020-01-05,IS,0.0,0.0,0.0,0.0,NaN,356991.0,182837.0,174154.0,...,8.292692,3.272256,2.823722,0.342862,0.241513,0.160196,1.452143,0.016188,5.306998e+09,292.2901

In [98]:
denmark = agg_table11.loc[agg_table11.country_name == 'Denmark', :]
denmark

,date,location_key_x,new_confirmed,new_deceased,cumulative_confirmed,cumulative_deceased,lawatlas_mitigation_policy,population,population_male,population_female,...,TX.VAL.MRCH.OR.ZS,TX.VAL.MRCH.R1.ZS,TX.VAL.MRCH.R2.ZS,TX.VAL.MRCH.R3.ZS,TX.VAL.MRCH.R4.ZS,TX.VAL.MRCH.R5.ZS,TX.VAL.MRCH.R6.ZS,TX.VAL.MRCH.RS.ZS,TX.VAL.MRCH.WL.CD,TX.VAL.MRCH.XD.WD
6585013,2020-01-01,DK,0.0,0.0,0.0,0.0,NaN,5806081.0,2889073.0,2917008.0,...,13.452893,5.876016,2.988296,1.805753,1.285867,0.80903,0.687931,0.74246,1.097110e+11,213.267705
6585014,2020-01-02,DK,0.0,0.0,0.0,0.0,NaN,5806081.0,2889073.0,2917008.0,...,13.452893,5.876016,2.988296,1.805753,1.285867,0.80903,0.687931,0.74246,1.097110e+11,213.267705
6585015,2020-01-03,DK,0.0,0.0,0.0,0.0,NaN,5806081.0,2889073.0,2917008.0,...,13.452893,5.876016,2.988296,1.805753,1.285867,0.80903,0.687931,0.74246,1.097110e+11,213.267705
6585016,2020-01-04,DK,0.0,0.0,0.0,0.0,NaN,5806081.0,2889073.0,2917008.0,...,13.452893,5.876016,2.988296,1.805753,1.285867,0.80903,0.687931,0.74246,1.097110e+11,213.267705
6585017,2020-01-05,DK,0.0,0.0,0.0,0.0,NaN,5806081.0,2889073.0,2917008.0,...,13.452893,5.876016,2.988296,1.805753,1.285867,0.80903,0.687931,0.74246,1.097110e+11,213.267705
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6585995,2022-09-09,DK,0.0,0.0,3280052.0,6968.0,NaN,5806081.0,2889073.0,2917008.0,...,13.452893,5.876016,2.988296,1.805753,1.285867,0.80903,0.687931,0.74246,1.097110e+11,213.267705
6585996,2022-09-10,DK,0.0,0.0,3280052.0,6968.0,NaN,5806081.0,2889073.0,2917008.0,...,13.452893,5.876016,2.988296,1.805753,1.285867,0.80903,0.687931,0.74246,1.097110e+11,213.267705
6585997,2022-09-11,DK,1795.0,14.0,3281847.0,6982.0,NaN,5806081.0,2889073.0,2917008.0,...,13.452893,5.876016,2.988296,1.805753,1.285867,0.80903,0.687931,0.74246,1.097110e+11,213.267705
6585998,2022-09-12,DK,990.0,1.0,3282837.0,6983.0,NaN,5806081.0,2889073.0,2917008.0,...,13.452893,5.876016,2.988296,1.805753,1.285867,0.80903,0.687931,0.74246,1.097110e+11,213.267705
6585999,2022-09-13,DK,869.0,4.0,3283706.0,6987.0,NaN,5806081.0,2889073.0,2917008.0,...,13.452893,5.876016,2.988296,1.805753,1.285867,0.80903,0.687931,0.74246,1.097110e+11,213.267705

In [101]:
australia = agg_table11.loc[agg_table11.country_name == 'Australia', :]
australia

,date,location_key_x,new_confirmed,new_deceased,cumulative_confirmed,cumulative_deceased,lawatlas_mitigation_policy,population,population_male,population_female,...,TX.VAL.MRCH.OR.ZS,TX.VAL.MRCH.R1.ZS,TX.VAL.MRCH.R2.ZS,TX.VAL.MRCH.R3.ZS,TX.VAL.MRCH.R4.ZS,TX.VAL.MRCH.R5.ZS,TX.VAL.MRCH.R6.ZS,TX.VAL.MRCH.RS.ZS,TX.VAL.MRCH.WL.CD,TX.VAL.MRCH.XD.WD
485984,2020-01-01,AU,0.0,0.0,0.0,0.0,NaN,25499881.0,12698625.0,12801256.0,...,50.579743,43.125018,0.391859,0.636003,0.412975,5.101246,0.912642,2.018508,2.546920e+11,402.530005
485985,2020-01-02,AU,0.0,0.0,0.0,0.0,NaN,25499881.0,12698625.0,12801256.0,...,50.579743,43.125018,0.391859,0.636003,0.412975,5.101246,0.912642,2.018508,2.546920e+11,402.530005
485986,2020-01-03,AU,0.0,0.0,0.0,0.0,NaN,25499881.0,12698625.0,12801256.0,...,50.579743,43.125018,0.391859,0.636003,0.412975,5.101246,0.912642,2.018508,2.546920e+11,402.530005
485987,2020-01-04,AU,0.0,0.0,0.0,0.0,NaN,25499881.0,12698625.0,12801256.0,...,50.579743,43.125018,0.391859,0.636003,0.412975,5.101246,0.912642,2.018508,2.546920e+11,402.530005
485988,2020-01-05,AU,0.0,0.0,0.0,0.0,NaN,25499881.0,12698625.0,12801256.0,...,50.579743,43.125018,0.391859,0.636003,0.412975,5.101246,0.912642,2.018508,2.546920e+11,402.530005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494713,2022-09-14,AU_WA,0.0,0.0,1139054.0,626.0,NaN,2656156.0,1120500.0,1111402.0,...,50.579743,43.125018,0.391859,0.636003,0.412975,5.101246,0.912642,2.018508,2.546920e+11,402.530005
494714,2022-09-15,AU_WA,0.0,0.0,1139054.0,626.0,NaN,2656156.0,1120500.0,1111402.0,...,50.579743,43.125018,0.391859,0.636003,0.412975,5.101246,0.912642,2.018508,2.546920e+11,402.530005
494715,2022-09-16,AU_WA,0.0,NaN,1139054.0,NaN,NaN,2656156.0,1120500.0,1111402.0,...,50.579743,43.125018,0.391859,0.636003,0.412975,5.101246,0.912642,2.018508,2.546920e+11,402.530005
494716,2022-09-23,AU_WA,0.0,NaN,1139054.0,NaN,NaN,2656156.0,1120500.0,1111402.0,...,50.579743,43.125018,0.391859,0.636003,0.412975,5.101246,0.912642,2.018508,2.546920e+11,402.530005
494717,2022-09-30,AU_WA,0.0,NaN,1139054.0,NaN,NaN,2656156.0,1120500.0,1111402.0,...,50.579743,43.125018,0.391859,0.636003,0.412975,5.101246,0.912642,2.018508,2.546920e+11,402.530005

In [102]:
australia_by_region = australia.loc[australia.location_key_x.str.len() ==5]
australia_by_region

,date,location_key_x,new_confirmed,new_deceased,cumulative_confirmed,cumulative_deceased,lawatlas_mitigation_policy,population,population_male,population_female,...,TX.VAL.MRCH.OR.ZS,TX.VAL.MRCH.R1.ZS,TX.VAL.MRCH.R2.ZS,TX.VAL.MRCH.R3.ZS,TX.VAL.MRCH.R4.ZS,TX.VAL.MRCH.R5.ZS,TX.VAL.MRCH.R6.ZS,TX.VAL.MRCH.RS.ZS,TX.VAL.MRCH.WL.CD,TX.VAL.MRCH.XD.WD
488910,2020-01-25,AU_NT,NaN,NaN,0.0,0.0,NaN,245353.0,108481.0,101615.0,...,50.579743,43.125018,0.391859,0.636003,0.412975,5.101246,0.912642,2.018508,2.546920e+11,402.530005
488911,2020-01-26,AU_NT,NaN,0.0,0.0,0.0,NaN,245353.0,108481.0,101615.0,...,50.579743,43.125018,0.391859,0.636003,0.412975,5.101246,0.912642,2.018508,2.546920e+11,402.530005
488912,2020-01-27,AU_NT,0.0,0.0,0.0,0.0,NaN,245353.0,108481.0,101615.0,...,50.579743,43.125018,0.391859,0.636003,0.412975,5.101246,0.912642,2.018508,2.546920e+11,402.530005
488913,2020-01-28,AU_NT,NaN,0.0,0.0,0.0,NaN,245353.0,108481.0,101615.0,...,50.579743,43.125018,0.391859,0.636003,0.412975,5.101246,0.912642,2.018508,2.546920e+11,402.530005
488914,2020-01-29,AU_NT,0.0,0.0,0.0,0.0,NaN,245353.0,108481.0,101615.0,...,50.579743,43.125018,0.391859,0.636003,0.412975,5.101246,0.912642,2.018508,2.546920e+11,402.530005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494713,2022-09-14,AU_WA,0.0,0.0,1139054.0,626.0,NaN,2656156.0,1120500.0,1111402.0,...,50.579743,43.125018,0.391859,0.636003,0.412975,5.101246,0.912642,2.018508,2.546920e+11,402.530005
494714,2022-09-15,AU_WA,0.0,0.0,1139054.0,626.0,NaN,2656156.0,1120500.0,1111402.0,...,50.579743,43.125018,0.391859,0.636003,0.412975,5.101246,0.912642,2.018508,2.546920e+11,402.530005
494715,2022-09-16,AU_WA,0.0,NaN,1139054.0,NaN,NaN,2656156.0,1120500.0,1111402.0,...,50.579743,43.125018,0.391859,0.636003,0.412975,5.101246,0.912642,2.018508,2.546920e+11,402.530005
494716,2022-09-23,AU_WA,0.0,NaN,1139054.0,NaN,NaN,2656156.0,1120500.0,1111402.0,...,50.579743,43.125018,0.391859,0.636003,0.412975,5.101246,0.912642,2.018508,2.546920e+11,402.530005
494717,2022-09-30,AU_WA,0.0,NaN,1139054.0,NaN,NaN,2656156.0,1120500.0,1111402.0,...,50.579743,43.125018,0.391859,0.636003,0.412975,5.101246,0.912642,2.018508,2.546920e+11,402.530005

In [104]:
top10_economy_covid_data = pd.concat([US_by_state, luxembourg, ireland, norway_by_region, switzerland_by_region, singapore, qatar, iceland, denmark, australia_by_region], axis = 0)

In [105]:
top10_economy_covid_data

,date,location_key_x,new_confirmed,new_deceased,cumulative_confirmed,cumulative_deceased,lawatlas_mitigation_policy,population,population_male,population_female,...,TX.VAL.MRCH.OR.ZS,TX.VAL.MRCH.R1.ZS,TX.VAL.MRCH.R2.ZS,TX.VAL.MRCH.R3.ZS,TX.VAL.MRCH.R4.ZS,TX.VAL.MRCH.R5.ZS,TX.VAL.MRCH.R6.ZS,TX.VAL.MRCH.RS.ZS,TX.VAL.MRCH.WL.CD,TX.VAL.MRCH.XD.WD
9896188,2020-01-22,US_AK,0.0,0.0,0.0,0.0,0.0,733391.0,424916.0,391925.0,...,39.701735,10.447935,1.398441,23.603533,0.908951,2.398344,0.944532,0.138105,1.664240e+12,213.064797
9896189,2020-01-23,US_AK,0.0,0.0,0.0,0.0,0.0,733391.0,424916.0,391925.0,...,39.701735,10.447935,1.398441,23.603533,0.908951,2.398344,0.944532,0.138105,1.664240e+12,213.064797
9896190,2020-01-24,US_AK,0.0,0.0,0.0,0.0,0.0,733391.0,424916.0,391925.0,...,39.701735,10.447935,1.398441,23.603533,0.908951,2.398344,0.944532,0.138105,1.664240e+12,213.064797
9896191,2020-01-25,US_AK,0.0,0.0,0.0,0.0,0.0,733391.0,424916.0,391925.0,...,39.701735,10.447935,1.398441,23.603533,0.908951,2.398344,0.944532,0.138105,1.664240e+12,213.064797
9896192,2020-01-26,US_AK,0.0,0.0,0.0,0.0,0.0,733391.0,424916.0,391925.0,...,39.701735,10.447935,1.398441,23.603533,0.908951,2.398344,0.944532,0.138105,1.664240e+12,213.064797
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494713,2022-09-14,AU_WA,0.0,0.0,1139054.0,626.0,NaN,2656156.0,1120500.0,1111402.0,...,50.579743,43.125018,0.391859,0.636003,0.412975,5.101246,0.912642,2.018508,2.546920e+11,402.530005
494714,2022-09-15,AU_WA,0.0,0.0,1139054.0,626.0,NaN,2656156.0,1120500.0,1111402.0,...,50.579743,43.125018,0.391859,0.636003,0.412975,5.101246,0.912642,2.018508,2.546920e+11,402.530005
494715,2022-09-16,AU_WA,0.0,NaN,1139054.0,NaN,NaN,2656156.0,1120500.0,1111402.0,...,50.579743,43.125018,0.391859,0.636003,0.412975,5.101246,0.912642,2.018508,2.546920e+11,402.530005
494716,2022-09-23,AU_WA,0.0,NaN,1139054.0,NaN,NaN,2656156.0,1120500.0,1111402.0,...,50.579743,43.125018,0.391859,0.636003,0.412975,5.101246,0.912642,2.018508,2.546920e+11,402.530005
494717,2022-09-30,AU_WA,0.0,NaN,1139054.0,NaN,NaN,2656156.0,1120500.0,1111402.0,...,50.579743,43.125018,0.391859,0.636003,0.412975,5.101246,0.912642,2.018508,2.546920e+11,402.530005

In [106]:
top10_economy_covid_data.location_key_x.unique()

array(['US_AK', 'US_AL', 'US_AR', 'US_AS', 'US_AZ', 'US_CA', 'US_CO',
       'US_CT', 'US_DC', 'US_DE', 'US_FL', 'US_GA', 'US_GU', 'US_HI',
       'US_IA', 'US_ID', 'US_IL', 'US_IN', 'US_KS', 'US_KY', 'US_LA',
       'US_MA', 'US_MD', 'US_ME', 'US_MI', 'US_MN', 'US_MO', 'US_MP',
       'US_MS', 'US_MT', 'US_NC', 'US_ND', 'US_NE', 'US_NH', 'US_NJ',
       'US_NM', 'US_NV', 'US_NY', 'US_OH', 'US_OK', 'US_OR', 'US_PA',
       'US_PR', 'US_RI', 'US_SC', 'US_SD', 'US_TN', 'US_TX', 'US_UT',
       'US_VA', 'US_VI', 'US_VT', 'US_WA', 'US_WI', 'US_WV', 'US_WY',
       'LU', 'IE', 'NO_03', 'NO_11', 'NO_15', 'NO_18', 'NO_30', 'NO_34',
       'NO_38', 'NO_42', 'NO_46', 'NO_50', 'NO_54', 'CH_AG', 'CH_AI',
       'CH_AR', 'CH_BE', 'CH_BL', 'CH_BS', 'CH_FR', 'CH_GE', 'CH_GL',
       'CH_GR', 'CH_JU', 'CH_LU', 'CH_NE', 'CH_NW', 'CH_OW', 'CH_SG',
       'CH_SH', 'CH_SO', 'CH_SZ', 'CH_TG', 'CH_TI', 'CH_UR', 'CH_VD',
       'CH_VS', 'CH_ZG', 'CH_ZH', 'SG', 'QA', 'IS', 'DK', 'AU_NT',
       'AU_SA', 'AU_WA'], dtype=object)

In [107]:
top10_economy_covid_data.to_csv('top_10_gdp_covid_data.csv')

It work with the three countries in North America

In [106]:
mexico = agg_table11.loc[agg_table11.country_code == 'MX']

In [107]:
mexico_by_region = mexico.loc[mexico.location_key_x.str.len() ==6]

In [108]:
mexico_by_region

,date,location_key_x,new_confirmed,new_deceased,cumulative_confirmed,cumulative_deceased,lawatlas_mitigation_policy,population,population_male,population_female,...,TX.VAL.MRCH.OR.ZS,TX.VAL.MRCH.R1.ZS,TX.VAL.MRCH.R2.ZS,TX.VAL.MRCH.R3.ZS,TX.VAL.MRCH.R4.ZS,TX.VAL.MRCH.R5.ZS,TX.VAL.MRCH.R6.ZS,TX.VAL.MRCH.RS.ZS,TX.VAL.MRCH.WL.CD,TX.VAL.MRCH.XD.WD
8556286,2022-01-01,MX_AGU,7.0,0.0,7.0,0.0,NaN,1181390.0,576638.0,608358.0,...,3.375724,1.903056,0.180213,4.344521,0.092548,1.115378,0.084529,0.187525,4.506850e+11,270.896175
8556287,2022-01-02,MX_AGU,27.0,0.0,34.0,0.0,NaN,1181390.0,576638.0,608358.0,...,3.375724,1.903056,0.180213,4.344521,0.092548,1.115378,0.084529,0.187525,4.506850e+11,270.896175
8556288,2022-01-03,MX_AGU,200.0,0.0,234.0,0.0,NaN,1181390.0,576638.0,608358.0,...,3.375724,1.903056,0.180213,4.344521,0.092548,1.115378,0.084529,0.187525,4.506850e+11,270.896175
8556289,2022-01-04,MX_AGU,359.0,0.0,593.0,0.0,NaN,1181390.0,576638.0,608358.0,...,3.375724,1.903056,0.180213,4.344521,0.092548,1.115378,0.084529,0.187525,4.506850e+11,270.896175
8556290,2022-01-05,MX_AGU,454.0,1.0,1047.0,1.0,NaN,1181390.0,576638.0,608358.0,...,3.375724,1.903056,0.180213,4.344521,0.092548,1.115378,0.084529,0.187525,4.506850e+11,270.896175
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8694943,2022-09-10,MX_ZAC,5.0,1.0,35264.0,403.0,NaN,1477915.0,726897.0,763771.0,...,3.375724,1.903056,0.180213,4.344521,0.092548,1.115378,0.084529,0.187525,4.506850e+11,270.896175
8694944,2022-09-11,MX_ZAC,6.0,0.0,35270.0,403.0,NaN,1477915.0,726897.0,763771.0,...,3.375724,1.903056,0.180213,4.344521,0.092548,1.115378,0.084529,0.187525,4.506850e+11,270.896175
8694945,2022-09-12,MX_ZAC,38.0,0.0,35308.0,403.0,NaN,1477915.0,726897.0,763771.0,...,3.375724,1.903056,0.180213,4.344521,0.092548,1.115378,0.084529,0.187525,4.506850e+11,270.896175
8694946,2022-09-13,MX_ZAC,28.0,1.0,35336.0,404.0,NaN,1477915.0,726897.0,763771.0,...,3.375724,1.903056,0.180213,4.344521,0.092548,1.115378,0.084529,0.187525,4.506850e+11,270.896175
8694947,2022-09-14,MX_ZAC,18.0,0.0,35354.0,404.0,NaN,1477915.0,726897.0,763771.0,...,3.375724,1.903056,0.180213,4.344521,0.092548,1.115378,0.084529,0.187525,4.506850e+11,270.896175

In [109]:
canada = agg_table11.loc[agg_table11.country_code == 'CA']

In [110]:
canada_by_province = canada.loc[canada.location_key_x.str.len() ==5]

In [111]:
canada_by_province

,date,location_key_x,new_confirmed,new_deceased,cumulative_confirmed,cumulative_deceased,lawatlas_mitigation_policy,population,population_male,population_female,...,TX.VAL.MRCH.OR.ZS,TX.VAL.MRCH.R1.ZS,TX.VAL.MRCH.R2.ZS,TX.VAL.MRCH.R3.ZS,TX.VAL.MRCH.R4.ZS,TX.VAL.MRCH.R5.ZS,TX.VAL.MRCH.R6.ZS,TX.VAL.MRCH.RS.ZS,TX.VAL.MRCH.WL.CD,TX.VAL.MRCH.XD.WD
5671992,2020-01-25,CA_AB,0.0,0.0,0.0,0.0,NaN,4067175.0,2203552.0,2194290.0,...,10.37351,5.763911,0.485681,2.462548,0.352457,0.917411,0.391502,0.028273,4.476710e+11,162.891137
5671993,2020-01-26,CA_AB,0.0,0.0,0.0,0.0,NaN,4067175.0,2203552.0,2194290.0,...,10.37351,5.763911,0.485681,2.462548,0.352457,0.917411,0.391502,0.028273,4.476710e+11,162.891137
5671994,2020-01-27,CA_AB,0.0,0.0,0.0,0.0,NaN,4067175.0,2203552.0,2194290.0,...,10.37351,5.763911,0.485681,2.462548,0.352457,0.917411,0.391502,0.028273,4.476710e+11,162.891137
5671995,2020-01-28,CA_AB,0.0,0.0,0.0,0.0,NaN,4067175.0,2203552.0,2194290.0,...,10.37351,5.763911,0.485681,2.462548,0.352457,0.917411,0.391502,0.028273,4.476710e+11,162.891137
5671996,2020-01-29,CA_AB,0.0,0.0,0.0,0.0,NaN,4067175.0,2203552.0,2194290.0,...,10.37351,5.763911,0.485681,2.462548,0.352457,0.917411,0.391502,0.028273,4.476710e+11,162.891137
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5756999,2022-08-06,CA_YT,NaN,3.0,NaN,29.0,NaN,40232.0,20212.0,21091.0,...,10.37351,5.763911,0.485681,2.462548,0.352457,0.917411,0.391502,0.028273,4.476710e+11,162.891137
5757000,2022-08-13,CA_YT,NaN,1.0,NaN,30.0,NaN,40232.0,20212.0,21091.0,...,10.37351,5.763911,0.485681,2.462548,0.352457,0.917411,0.391502,0.028273,4.476710e+11,162.891137
5757001,2022-08-20,CA_YT,NaN,0.0,NaN,30.0,NaN,40232.0,20212.0,21091.0,...,10.37351,5.763911,0.485681,2.462548,0.352457,0.917411,0.391502,0.028273,4.476710e+11,162.891137
5757002,2022-08-27,CA_YT,NaN,0.0,NaN,30.0,NaN,40232.0,20212.0,21091.0,...,10.37351,5.763911,0.485681,2.462548,0.352457,0.917411,0.391502,0.028273,4.476710e+11,162.891137
5757003,2022-09-03,CA_YT,NaN,0.0,NaN,30.0,NaN,40232.0,20212.0,21091.0,...,10.37351,5.763911,0.485681,2.462548,0.352457,0.917411,0.391502,0.028273,4.476710e+11,162.891137

In [112]:
NA_three_countries = pd.concat([US_by_state, canada_by_province, mexico_by_region], axis = 0)

In [113]:
NA_three_countries.country_name.unique()

array(['United States of America', 'Canada', 'Mexico'], dtype=object)

In [114]:
NA_three_countries.to_csv('US_MX_CA.csv')

In [115]:
NA_three_countries.shape

(72680, 198)

If want to work with the whole world.

In [165]:
agg_table_by_country = agg_table_final.loc[agg_table_final.location_key.str.len() ==2]

In [166]:
agg_table_by_country

,date,location_key,new_confirmed,new_deceased,cumulative_confirmed,cumulative_deceased,lawatlas_mitigation_policy,population,population_male,population_female,...,wikidata_id,country_code,country_name,subregion1_code,subregion1_name,subregion2_code,subregion2_name,iso_3166_1_alpha_2,iso_3166_1_alpha_3,aggregation_level
0,2020-01-01,AD,0.0,0.0,0.0,0.0,NaN,77265.0,58625.0,55581.0,...,Q228,AD,Andorra,NaN,NaN,NaN,NaN,AD,AND,0
1,2020-01-02,AD,0.0,0.0,0.0,0.0,NaN,77265.0,58625.0,55581.0,...,Q228,AD,Andorra,NaN,NaN,NaN,NaN,AD,AND,0
2,2020-01-03,AD,0.0,0.0,0.0,0.0,NaN,77265.0,58625.0,55581.0,...,Q228,AD,Andorra,NaN,NaN,NaN,NaN,AD,AND,0
3,2020-01-04,AD,0.0,0.0,0.0,0.0,NaN,77265.0,58625.0,55581.0,...,Q228,AD,Andorra,NaN,NaN,NaN,NaN,AD,AND,0
4,2020-01-05,AD,0.0,0.0,0.0,0.0,NaN,77265.0,58625.0,55581.0,...,Q228,AD,Andorra,NaN,NaN,NaN,NaN,AD,AND,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12525820,2022-09-09,ZW,11.0,0.0,256870.0,5596.0,NaN,14862927.0,7092010.0,7770917.0,...,Q954,ZW,Zimbabwe,NaN,NaN,NaN,NaN,ZW,ZWE,0
12525821,2022-09-10,ZW,18.0,0.0,256888.0,5596.0,NaN,14862927.0,7092010.0,7770917.0,...,Q954,ZW,Zimbabwe,NaN,NaN,NaN,NaN,ZW,ZWE,0
12525822,2022-09-11,ZW,0.0,0.0,256888.0,5596.0,NaN,14862927.0,7092010.0,7770917.0,...,Q954,ZW,Zimbabwe,NaN,NaN,NaN,NaN,ZW,ZWE,0
12525823,2022-09-12,ZW,51.0,0.0,256939.0,5596.0,NaN,14862927.0,7092010.0,7770917.0,...,Q954,ZW,Zimbabwe,NaN,NaN,NaN,NaN,ZW,ZWE,0
12525824,2022-09-13,ZW,0.0,0.0,256939.0,5596.0,NaN,14862927.0,7092010.0,7770917.0,...,Q954,ZW,Zimbabwe,NaN,NaN,NaN,NaN,ZW,ZWE,0

Tada! This table looks nice because it is by country and the shape of the table is also easier to handle.

In [168]:
agg_table_by_country.location_key.nunique()

232

In [169]:
agg_table_by_country.to_csv('covid_agg_table_by_country.csv')

In [75]:
economy.loc[economy.location_key == 'US']

    location_key       gdp_usd  gdp_per_capita_usd  human_capital_index
392           US  2.137442e+13             65118.0                0.762

In [78]:
world_bank

,location_key,AG.AGR.TRAC.NO,AG.CON.FERT.PT.ZS,AG.CON.FERT.ZS,AG.LND.AGRI.K2,AG.LND.AGRI.ZS,AG.LND.ARBL.HA,AG.LND.ARBL.HA.PC,AG.LND.ARBL.ZS,AG.LND.CREL.HA,...,TX.VAL.TRAN.ZS.WT,TX.VAL.TRVL.ZS.WT,VC.BTL.DETH,VC.IDP.NWCV,VC.IDP.NWDS,VC.IDP.TOCV,VC.IHR.PSRC.FE.P5,VC.IHR.PSRC.MA.P5,VC.IHR.PSRC.P5,VC.PKP.TOTL.UN
0,AD,NaN,NaN,NaN,187.800007,39.957448,7.800000e+02,0.010091,1.659574,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
1,AE,NaN,3.378659,714.927237,3887.999878,5.474514,4.450000e+04,0.004754,0.626584,282.0,...,NaN,NaN,NaN,NaN,220.0,NaN,0.4,0.7,0.5,NaN
2,AF,NaN,590.067055,12.182300,379100.000000,58.067580,7.729000e+06,0.218437,11.838679,2418725.0,...,20.089394,14.556820,25682.0,461000.0,117000.0,2993000.0,NaN,NaN,7.1,14.0
3,AG,NaN,NaN,13.870000,90.000000,20.454545,4.000000e+03,0.042316,9.090909,48.0,...,12.080340,79.197620,NaN,NaN,1400.0,NaN,NaN,NaN,NaN,NaN
4,AL,NaN,NaN,126.138483,11816.999512,43.127735,6.203000e+05,0.215674,22.638686,145799.0,...,7.292991,62.336066,NaN,NaN,33000.0,NaN,0.8,3.8,2.3,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,WS,NaN,NaN,4.637500,350.000000,12.367491,8.000000e+03,0.041124,2.826855,NaN,...,5.511281,72.368591,NaN,NaN,330.0,NaN,NaN,NaN,NaN,NaN
211,YE,NaN,NaN,16.396546,235460.000000,44.597231,1.248000e+06,0.045936,2.363771,687883.0,...,28.528748,32.398573,4512.0,398000.0,31000.0,3635000.0,NaN,NaN,NaN,NaN
212,ZA,NaN,182.529324,58.511600,968410.000000,79.830021,1.250000e+07,0.222405,10.304264,3347247.0,...,14.679005,58.369448,NaN,2300.0,1700.0,250.0,NaN,NaN,35.9,NaN
213,ZM,NaN,NaN,89.594070,238360.000000,32.063923,3.800000e+06,0.232224,5.111718,1573766.0,...,4.385506,80.814080,NaN,NaN,1300.0,NaN,NaN,NaN,5.3,NaN
214,ZW,NaN,144.707741,22.900000,162000.000000,41.876696,4.000000e+06,0.285095,10.339925,1790089.0,...,44.684224,40.178038,NaN,NaN,52000.0,NaN,NaN,NaN,NaN,NaN